<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Join Request</title>
</head>
<body>
    <h1>Pighub</h1>
    <hr/>
    <h4>Name</h4>
    <p>{{ details['name'] }}</p>
    <h4>Address</h4>
    <p>{{ details['addr'] }}</p>
    <h4>Contacts</h4>
    <p>{{ details['cont'] }}</p>
    <h4>Products</h4>
    <p>{{ details['prod'] }}</p>
    <h4>Services</h4>
    <p>{{ details['serv'] }}</p>
    <br>
    <p>Name of image is <b>{{ image }}</b></p>
</body>
</html>
