<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Care and management</title>
    <link href="{{ url_for('static', filename='css/simpleGridTemplate.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <script src="{{ url_for('static', filename='js/jquery-3.5.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</head>
<body>
<!-- Main Container -->
<div class="container"> 
  <!--Navigation-->
  <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
   <a class="navbar-brand" href="#">Care and Management</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
         <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
         </li>
		 <li class="nav-item">
            <a class="nav-link" href="/breeds">Breeds</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="/breeding">Types of breeding</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="/housing">Housing Management</a>
         </li>
		 <li class="nav-item">
            <a class="nav-link" href="/diseaseAndParasites">Disease and Parasites</a>
         </li>
      </ul>
   </div>
  </nav>
  <br/>
  <!-- Hero Section -->
  <section class="intro">
    <div class="text_column">
		<h2>Caring for new-born piglets</h2>
     	<p>A few minutes after the birth the umbilical cord may be pulled gently away or cut if necessary (to about 5 cm length). After birth, the navel of each piglet should be soaked in a cup of iodine solution to prevent inflammation and tetanus. Each piglet should be rubbed carefully, dry with a cloth. </p>
		<p>Make sure the piglets are able to suck from the udder as soon as possible after birth. Their sucking will encourage the sow to let down her milk. Weak piglets may need to be assisted .It is important that the piglets immediately take advantage of the first milk called colostrums. Colostrums should be taken by all the piglets on the same day they are born. If taken at this time the colostrums is able to protect the piglets against diseases. After the first one or two days, the digestive system of the piglets breaks down the colostrums and its ability to protect from diseases is lost. The piglets can be given additional feed of goat or cow's milk, or a mashed bean porridge to which a little sugar has been added. If the milk produced by the sow is too little to meet the needs of the piglets or the sow completely neglects the piglets, they should be put on another sow or reared on cow or goat's milk</p>
    </div>
	<div class="column">
		<h2>Feeding</h2>
     	<p style="color: #333333">Good feed is necessary for growth, body maintenance and the production of meat and milk.  You can use locally available feeds that are less expensive, but can be nutritionally complete when properly prepared.  In fact, pigs can be fed well, using only kitchen scraps from a family’s household.  The nutritional needs of pigs can be divided into six categories or classes. These are water, carbohydrates, fats, proteins, vitamins and minerals.</p>
    </div>
	<div class="text_column">
		<h3>What you can feed to your pig?</h3>
		<ul>
			<li>Commercially prepared swine rations from grain, fruit and vegetable from markets</li>
			<li>Vegetable, fruit or bread scraps that have been not in contact with animal products or by-products if they are properly cooked.</li>
			<li>Restaurants, food transporters and disposers of food waste products if they are properly cooked.</li>
			<li>Forest Products, wild vegetables, wild bananas, wild cola – cassia, yam, forage grasses etc. if they are properly cooked.</li>
			<li>Alcohol distilling residues: local alcohol can be made from millet, rice, maize, sweet potato, banana, etc. if they are properly cooked. </li>
		</ul>
    </div>
	<div class="text_column">
		<h3>Formulation feed</h3>
		<h4>Creep feed</h4>
     	<p>It is the baby piglets’ first and most important dry food. It contains 20% protein that is highly fortified with milk by-products and is available in small, chewable, highly palatable pellets for easy digestion. A combination of protein source, milk replacer, vitamins, amino acids and rich feed ingredients makes this complete feed the ideal start for young healthy piglets.  Feed ingredients in descending order:  corn, soya bean meal, barley, wheat bran, vegetable protein, oilseeds extracts, fatty acids, feed phosphate, pig vitamins, and trace minerals. Creep feed (about 20g per piglet per day) or a good home-made mixture with fine rice bran, broken rice and milled maize grains. Clean drinking water must always be available. </p>
		<h4>Traitional pig feeds</h4>
		<ul>
			<li>Feeds should meet the animal’s needs for maintenance, growth and reproduction. Good pig feed contains sufficient energy, protein, minerals and vitamins.  Rice bran, broken rice, maize, soya-beans, cassava, vegetables and distillers’ residues are often used in pig feed. </li>
			<li>Distillery waste is much appreciated in the traditional pig husbandry, especially for fattening pigs. It is advisable however, not to give this high valued feed to pregnant and lactating sows and to piglets and weaners because of the alcohol contents in the waste.</li>
			<li>Rice Bran: is very suitable for pig feeding. It contains 11% protein and can be used as the main ingredient. Rice bran can be mixed with other feeds to 30 - 45%. Rice bran can be kept no longer than 1 month because it can become mouldy.</li>
			<li>Broken Rice: is very suitable for pig feeding. It can be mixed with other feeds up to 15 - 20%. Broken rice contains about 8% protein.</li>
			<li>Maize: is a very good animal feed. It contains up to 65% carbohydrates and 9% protein. It can be mixed and cooked with other feeds, but not more than 40% in the mix ration</li>
			<li>Soybeans: is a crop which has a high nutritional value and is very good for pig feeding. It contains 38% protein (=very high). It should be dried, milled or well cooked in combination with other feedstuff like rice bran, broken rice and maize.</li>
			<li>Wheat Bran is particularly rich in dietary fiber and contains significant quantities of Carbohydrate, protein, vitamins, and minerals. Wheat Bran and is widely used as a major component animal feed.  it contain ; Protein  14% to 16%, Fat Max 9.5% , Crude Fibre  8.0 to 10.0% and carbohydrate  up to 25%.</li>
			<li>Root Crops: are being used for pig feeding, they can be mixed with other feeds up to around 10 - 20% (never more than 30%). First it should be peeled and washed and then sliced, dried and ground before use. It should not be fed to pigs as raw cassava with the skin, because of toxic substances. The sliced and dried cassava can be kept longer. </li>
			<li>Fruits: Fruits damaged during transportation, storage and handling are used as supplementary feeds for pigs by boiling and mixing with other feeds such as rice bran, broken rice and maize. They can also be given fresh. Suitable fruits  are:  Banana, papaya, apple, pear, melons etc</li>
			<li> Vegetables: Vegetables damage during transportation, storage and handling are used as supplementary feeds for pigs by boiling and mixing with other feeds such as rice bran, broken rice and maize. They can also be given fresh. Suitable vegetables are: cabbage, lettuce, spinach, morning glory, sweet potato vine, cola-cassia (needs boiling), pumpkin, guards, water hyacinth etc</li>
			<li>Sweet potato vine and tubers can be used as pig feed</li>
			<li>Potato, yam, papaya, sweet potato, etc</li>
			<li>Maize, wheat, millet etc</li>
			<li>Green Soya bean plant: A reach source of vegetable protein</li>
			<li>Pumpkin: Pumpkin is a good source of the vitamin B group, while a large proportion of these vitamins is lost during the preparation of the protein concentrate and isolates.</li>
		</ul>
		<p>Pigs must be fed on time: this makes the pigs familiar to the feeding regime.  Pigs need to be fed according to their sizes and ages.  Troughs must be anchored so they cannot be turned over</p>
		<h4>Drinkers</h4>
     	<p>The feeding trough can also be used to supply water.  At large farms automatic drinkers are used (bowls or nipples).</p>
		<p>All pigs need sufficient clean drinking water.   A pregnant sow: 10 - 12 liters water per day.  A lactating sow:  20 - 30 liters per day. A growing pig: 6 - 8 liters per day. A boar:  12 - 15 liters per day.  Not enough water can reduce daily feed intake. Ample clean water must be available to drink at all times</p>
    </div>
  </section>
  <!-- Copyrights Section -->
  <div class="copyright">Copyright &copy; PigHub. All rights reserved.</div>
</div>
<!-- Main Container Ends -->
</body>
</html>

